import re


archive = getMDSArchiveConfig(fromLocation="{{ fileLocation }}/{{ deploymentFile }}")

archive.setAppMetadataRepository(repository="{{ repository }}",partition="{{ partition }}",type='DB', jndi="{{ jndi }}")
archive.save()
